
.env
.env.local
secrets.py

session_*.json
settings.json
*.session


__pycache__/
*.py[cod]
*$py.class
.cache/
pip-log.txt
pip-delete-this-directory.txt
.local/


venv/
env/
.venv/
.env/


*.sqlite3
*.db
data/bot_database.db
logs/
*.log


temp_downloads/
downloads/

qwer_burouu/

.ssh/
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.DS_Store
Thumbs.db
.vscode/
.idea/
